.add-catalog {
  .container();
}

.add-catalog__title {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 24px;
  line-height: 24px;

  border-bottom: 1px solid @underline-color-darken;
}

.add-catalog__item {
  border-bottom: 1px solid @underline-color-darken;
}

.add-catalog__item-title {
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.add-catalog__table {
  width: 100%;

  font-size: 14px;
  line-height: 14px;
}

.add-catalog__table-quantity {
  text-align: left;
}

.add-catalog__table-value {
  text-align: right;
}

.add-catalog__btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media @tablet-widths {
  .add-catalog__title {
    font-size: 36px;
    line-height: 36px;

    border: 0;
  }

  .add-catalog__item {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

    border: 1px solid @underline-color-darken;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid @underline-color-darken;
    }
  }
}
