.catalog__title {
  .container();
  padding-top: 33px;
  padding-bottom: 33px;

  border-bottom: 1px solid @default-grey;
}

.catalog__show-all {
  padding-top: 62px;
  border-bottom: 1px solid @default-grey;

  &--uppercase {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__wrapper {
  .container();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__btn {
  flex-basis: 100%;
  margin-bottom: 25px;
  margin-top: 25px;

  background-color: @default-grey;
  color: @dark-grey;
}

.catalog__promo {
  .container();
  margin-top: 40px;
  margin-bottom: 35px;
}

.catalog__promo-img {
  background-color: @base-color;
  background-image: url('../img/gift-photo-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.catalog__promo-text {
  width: 160px;
  padding-top: 190px;
  padding-left: 60px;
  padding-bottom: 39px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
