.page-catalog {
  .container();
}

.page-catalog__list {
  .no-list-style();
}

.page-catalog__list-item {
  position: relative;
  margin-bottom: 20px;
  padding: 40px 20px 22px 20px;

  background-color: @default-grey;
}

.page-catalog__title {
  padding-left: 70px;
  padding-bottom: 40px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &--diet::before,
  &--fat::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @default-green;
  }

  &--diet::after,
  &--fat::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    z-index: 99;
  }

  &--diet::after {
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--fat::after {
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.page-catalog__text {
  padding-bottom: 25px;

  border-bottom: 1px solid @darken-grey;
}

.page-catalog__btn {
  display: block;
  padding-top: 23px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
