.page-catalog {
  .container();
}

.page-catalog__list {
  .no-list-style();
}

.page-catalog__list-item {
  position: relative;
  margin-bottom: 20px;
  padding: 27px 20px 22px 21px;

  background-color: @default-grey;

  &--diet::before,
  &--fat::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 24px;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: @base-color;
  }

  &--diet::after,
  &--fat::after {
    position: absolute;

    background-repeat: no-repeat;
    z-index: 99;
  }

  &--diet::after {
    content: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 50px;
    left: 30px;
    top: 22px;
  }

  &--fat::after {
    content: url("../img/icon-cat-pro.svg");
    width: 68px;
    height: 30px;
    left: 13px;
    top: 36px;
  }
}

.page-catalog__title {
  padding-left: 70px;
  padding-bottom: 33px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.page-catalog__text {
  padding-bottom: 21px;

  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid @darken-grey;
}

.page-catalog__btn {
  display: block;
  position: relative;
  padding-top: 19px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::before {
    content: url("../img/icon-right-arrow-long.svg");
    position: absolute;
    width: 24px;
    height: 11px;
    top: 18px;
    left: 98px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-widths {
  .page-catalog__list-item {
    margin-bottom: 32px;
    padding-left: 51px;
    padding-top: 75px;
    padding-bottom: 62px;
    padding-right: 60px;

    &--diet::before,
    &--fat::before {
      left: 444px;
      top: 25%;
      width: 200px;
      height: 200px;
    }

    &--diet::after {
      left: 476px;
      top: 79px;
      height: 195px;
      width: 140px;
    }

    &--fat::after {
      left: 412px;
      top: 135px;
      width: 268px;
      height: 115px;
    }

    &--diet p {
      max-width: 375px;
    }

    &--fat p {
      max-width: 340px;
    }
  }

  .page-catalog__title {
    padding-left: 0;
    padding-bottom: 24px;

    font-size: 36px;
    line-height: 37.02px;
  }

  .page-catalog__text {
    padding-bottom: 38px;

    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .page-catalog__btn {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 16px;
      left: 132px;
    }
  }
}

@media @desktop-widths {
  .page-catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .page-catalog__list-item {
    flex-basis: 570px;

    p {
      max-width: 100%;
    }

    &--diet {
      margin-right: 80px;
    }

    &--diet::before,
    &--fat::before {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
    }

    &--diet::after {
      width: 70px;
      height: 98px;
      top: 41px;
      left: 65px;
    }

    &--fat::after {
      width: 134px;
      height: 57px;
      top: 69px;
      left: 33px;
    }
  }

  .page-catalog__title {
    padding-left: 162px;
    padding-bottom: 75px;
  }

  .page-catalog__text {
    padding-bottom: 12px;
  }
}
