.page-footer {
  padding-top: 39px;
  background-color: @base-color-reverse;
}

.page-footer__wrapper {
  .container();
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-footer__logo {
  align-self: center;
  padding-bottom: 28px;
}

.page-footer__logo-icon {
  color: @lighten-font-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 11px;
  padding-left: 23px;

  border-top: 1px solid @underline-color;
  border-bottom: 1px solid @underline-color;

  a {
    align-self: center;
    padding-right: 36px;

    fill: @light-icon-color;
  }

  span {
    font-size: 0;
  }
}

.page-footer__copyright {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;

  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__icon {
  fill: @darken-icon-color;

  &:hover {
    fill: @base-color;
  }

  &:active {
    fill: @base-color;
  }
}

@media @tablet-widths {
  .page-footer {
    padding-top: 35px;
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .page-footer__logo {
    width: 25%;
    padding-bottom: 0;
  }

  .page-footer__social {
    width: 50%;
    padding-left: 111px;
    padding-top: 13px;

    border: none;

    a {
      padding-right: 23px;
    }
  }

  .page-footer__copyright {
    width: 25%;
    align-self: center;
    padding-top: 10px;

    text-align: right;

    span {
      margin-left: 71px;
    }
  }
}

@media @desktop-widths {
  .page-footer {
    padding-top: 40px;
  }

  .page-footer__social {
    padding-left: 215px;

    a {
      padding-right: 27px;
    }
  }

  .page-footer__copyright {
    span {
      margin-left: 241px;
    }
  }
}
