.page-footer {
  padding-top: 39px;
  background-color: @default-grey;
}

.page-footer__wrapper {
  .container();
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-footer__logo {
  align-self: center;
  padding-bottom: 28px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 20px;

  border-top: 1px solid @darken-grey;
  border-bottom: 1px solid @darken-grey;

  a {
    align-self: center;
    padding-right: 35px;

    font-size: 0;
  }
}

.page-footer__copyright {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 20px;

  font-size: 16px;
  line-height: 16px;
}

.page-footer__icon {
  fill: @darken-icon-color;
}

@media @tablet-widths {
  .page-footer {
    padding-top: 38px;
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .page-footer__logo {
    width: 25%;
    padding-bottom: 0;
  }

  .page-footer__social {
    width: 50%;
    padding-left: 87px;

    border: none;

    a {
      padding-right: 29px;
    }
  }

  .page-footer__copyright {
    justify-content: right;
    width: 25%;

    text-align: right;
  }
}

@media @desktop-widths {
  .page-footer {
    padding-top: 39px;
  }

  .page-footer__social {
    padding-left: 190px;

    a {
      padding-right: 27px;
    }
  }
}

