.page-features {
  .container();
}

.page-features__list {
  .no-list-style();
  padding-bottom: 20px;
}

.page-features__title {
  margin-bottom: 27px;
}

.page-features__list-item {
  padding-left: 80px;
  padding-bottom: 26px;

  p {
    position: relative;

    font-size: 14px;
    line-height: 18px;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: -2px;
      left: -80px;

      background-color: @base-color;
    }
  }

  &:nth-child(1) > p::after {
    content: url("../../img/advantage-leaf@1x.png");
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2px;
    left: -74px;
  }

  &:nth-child(2) > p::after {
    content: url("../../img/advantage-powder@1x.png");
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2px;
    left: -74px;
  }

  &:nth-child(3) > p::after {
    content: url("../../img/advantage-dining@1x.png");
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2px;
    left: -74px;
  }

  &:nth-child(4) > p::after {
    content: url("../../img/advantage-clock@1x.png");
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2px;
    left: -74px;
  }
}

@media @tablet-widths {
  .page-features {
    border-bottom: 1px solid @underline-color;
  }

  .page-features__title {
    padding-top: 16px;

    font-size: 60px;
  }

  .page-features__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 9px;
  }

  .page-features__list-item {
    flex-basis: 354px;
    position: relative;
    padding-left: 0;
    padding-top: 115px;
    padding-bottom: 90px;

    &:nth-child(2n) {
      flex-basis: 324px;
      padding-left: 28px;
    }

    p {
      width: 230px;
      padding-top: 41px;

      font-size: 16px;
      line-height: 24px;

      &::before {
        width: 80px;
        height: 80px;
        left: 0;
        top: -70px;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      height: 230px;

      font-size: 281.07px;
      line-height: 281.07px;
      font-family: inherit;
      color: @default-grey;

      z-index: -99;
    }

    &:nth-child(1) > p::after,
    &:nth-child(2) > p::after,
    &:nth-child(3) > p::after,
    &:nth-child(4) > p::after {
      width: 80px;
      height: 80px;
      left: 15px;
      top: -59px;
    }
  }


  .page-features__list-item:nth-child(1)::after {
    content: "1";
    top: 2px;
    right: 125px;
  }

  .page-features__list-item:nth-child(2)::after {
    content: "2";
    right: 78px;
  }

  .page-features__list-item:nth-child(3)::after {
    content: "3";
    right: 107px;
  }

  .page-features__list-item:nth-child(4)::after {
    content: "4";
    right: 75px;
  }
}

@media @desktop-widths {
  .page-features {
    border: none;
  }

  .page-features__list-item {
    flex-basis: 245px;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }
}
