.page-header__top {
  position: relative;
  padding-top: 10px;

  border-bottom: 1px solid @default-grey;
}

.page-header__logo {
  width: 193px;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  vertical-align: middle;
  text-align: left;
}

.page-header__bottom {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 502px;

  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 271px;
    top: 165px;
    left: 22px;


    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.page-header__promo {
  .container();
  min-height: 305px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: @default-green;
  background-position: center 20%;
  background-repeat: no-repeat;
}

.page-header__title {
  width: 249px;
  padding: 26px 17px 25px 18px;

  font-family: inherit;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.page-header__text {
  padding-bottom: 30px;

  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.page-header__btn {
  width: 260px;
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
}

@media @tablet-widths {
  .page-header__top {
    .container();
    display: flex;
    padding-top: 0;

    border: none;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
    margin-right: 94px;
    padding: 0;
    padding-top: 11px;
  }

  .page-header__bottom {
    margin: 0;
    &::before {
      width: 706px;
      height: 609px;
      top: 258px;
      left: 27px;

      background-image: url("../img/index-can-tablet@1x.jpg");
    }
  }

  .page-header__promo {
    min-height: 846px;
    position: relative;

    background: none;
    color: inherit;
  }

  .page-header__title {
    width: 420px;
    padding-left: 86px;
    padding-top: 56px;
    padding-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: inherit;
  }

  .page-header__text {
    padding-left: 88px;
    padding-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: inherit;
  }

  .page-header__btn {
    position: static;
    width: 225px;
    margin-left: 88px;
    padding-top: 15px;
    padding-bottom: 17px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media @desktop-widths {
  .page-header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
  }

  .page-header__logo {
    width: 204px;
    height: 59px;
  }

  .page-header__title {
    padding-top: 110px;
    padding-left: 40px;
  }

  .page-header__text {
    padding-left: 40px;
    padding-bottom: 52px;
  }

  .page-header__btn {
    margin-left: 38px;
  }

  .page-header__bottom {
    .container();

    &::before {
      width: 552px;
      height: 499px;
      top: 29px;
      left: 491px;

      background-image: url("../img/index-can-desktop@1x.png");
    }

    &::after {
      content: "";
      position: absolute;
      width: 721px;
      height: 696px;
      right: -70px;
      top: -113px;
      z-index: -99;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-color: @default-green;
      background-position: center 20%;
      background-repeat: no-repeat;
    }
  }

  .page-header__promo {
    min-height: 642px;
  }
}
