//// Colors

//General

@base-color: #64a83b;

@base-color-reverse: #f2f2f2;
@base-color-reverse-darken: #d9d9d9;

//Conditions

@error-color: #ff8282;

//Slider

@slider-color-light: #eaeaea;
@slider-color-dark: #dcdcdc;

//Font

@default-font-color: #111111;
@lighten-font-color: #222222;
@light-font-color: #444444;

@font-color-active: rgba(34, 34, 34, 0.3);


//Borders & underlines

@input-border-color: rgba(205, 205, 205, 0.5);
@input-border-color-hover: #cdcdcd;
@input-border-color-active: #444444;
@input-border-color-invalid: #ff8282;

@underline-color: #e6e6e6;
@underline-color-darken: #cdcdcd;


//Icons

@icon-color: #d3d3d3;
@darken-icon-color: #666666;
@light-icon-color: #686868;

//Buttons

@btn-color: #68b738;
@btn-hover-color: #5eaa2f;

@btn-color-reverse: #f2f2f2;
@btn-color-reverse-darken: #ebebeb;

@form-btn-color: #cdcdcd;
@form-btn-color-hover: #bababa;
@form-btn-color-active: rgba(186, 186, 186, 0.3);


//// Widths

@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
