.btn {
  display: block;
  width: auto;
  padding: 10px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @btn-color;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: @btn-hover-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
