.social-link {
  &--vkontakte {
    width: 23px;
    height: 12px;
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--instagram {
    width: 16px;
    height: 17px;
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--facebook {
    width: 11px;
    height: 20px;
    background-image: url("../img/icon-fb-mobile.svg");
  }
  background-repeat: no-repeat;
  background-position: center;
}

