.social-link {
  &--vkontakte {
    width: 35px;
    height: 18px;
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--instagram {
    width: 23px;
    height: 22px;
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--facebook {
    width: 17px;
    height: 28px;
    background-image: url("../img/icon-fb-mobile.svg");
  }
  background-repeat: no-repeat;
  background-position: center;
}

